@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

// Colors
$primary: #ff6257;
$dark-slate-grey: #242742;
$charcoal-grey: #36384e;
$grey: #9294a0;
$white: #ffffff;

// Typography
$font-size-p: 16px;
$font-family: "Roboto", sans-serif;

// Breakpoints
$xsBreakpoint: 576px;
$smBreakpoint: 768px;
$mdBreakpoint: 1024px;
$lgBreakpoint: 1290px;
$xlBreakpoint: 1440px;
